In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'Weight': [45,88,56,15,71], 'Name':["Sam", "Alex", "Andrea", "Robin", "Kia"], 
                  "Age":[14,25,55,8,25]})

# create the index 
indeX = ["R1", "R2", "R3", "R4", "R5"]

# set the index
df.index=indeX
# print the dataframe:
print(df)

    Weight    Name  Age
R1      45     Sam   14
R2      88    Alex   25
R3      56  Andrea   55
R4      15   Robin    8
R5      71     Kia   25

In [4]:
# return the value:
val = df.loc["R2", "Name"]

In [5]:
val

'Alex'

In [6]:
# creating the another dataframe 
df2 = pd.DataFrame({"A":[12,4,5,2,1], "B":[7,2,54,3,4], "C":[2,16,11,3,8], "D":[14,3,8,2,6]})

# create the index:
indeX = ["R1", "R2", "R3", "R4", "R5"]

# set the index of the dataframe:
df2.index = indeX

# printing the dataframe:
print(df2)

     A   B   C   D
R1  12   7   2  14
R2   4   2  16   3
R3   5  54  11   8
R4   2   3   3   2
R5   1   4   8   6

In [8]:
val2 = df2.loc[:, ["A", "D"]]

In [9]:
val2

     A   D
R1  12  14
R2   4   3
R3   5   8
R4   2   2
R5   1   6