# indexing and selection operator:

In [1]:
import pandas as pd
import numpy as np

In [2]:
# making the dataframe frime csv file
data = pd.read_csv("nba.csv", index_col = "Name")
# retriving the data from by the indexig operator
first = data["Age"]
# retrive the data by multiple indexing:
second = data[["Age", "College", "Salary"]]
# printing the data from the first
print(first)

Name
Avery Bradley    25
Jae Crowder      25
John Holland     27
R.J. Hunter      22
Jonas Jerebko    29
                 ..
Trey Lyles       20
Shelvin Mack     26
Raul Neto        24
Tibor Pleiss     26
Jeff Withey      26
Name: Age, Length: 457, dtype: int64

In [3]:
print(second)

               Age            College     Salary
Name
Avery Bradley   25              Texas  7730337.0
Jae Crowder     25          Marquette  6796117.0
John Holland    27  Boston University        NaN
R.J. Hunter     22      Georgia State  1148640.0
Jonas Jerebko   29                NaN  5000000.0
...            ...                ...        ...
Trey Lyles      20           Kentucky  2239800.0
Shelvin Mack    26             Butler  2433333.0
Raul Neto       24                NaN   900000.0
Tibor Pleiss    26                NaN  2900000.0
Jeff Withey     26             Kansas   947276.0

[457 rows x 3 columns]

In [4]:
# retive the rows by loc method:
single_first = data.loc["Avery Bradley"]
single_second = data.loc["R.J. Hunter"]
print(single_first, "\n\n", single_second)

Team        Boston Celtics
Number                   0
Position                PG
Age                     25
Height               2-Jun
Weight                 180
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object

 Team        Boston Celtics
Number                  28
Position                SG
Age                     22
Height               5-Jun
Weight                 185
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [5]:
# retriving rows by loc method:
mult_loc = data.loc[["Avery Bradley", "R.J. Hunter"]]
print(mult_loc)

                         Team  Number Position  Age Height  Weight  \
Name
Avery Bradley  Boston Celtics       0       PG   25  2-Jun     180
R.J. Hunter    Boston Celtics      28       SG   22  5-Jun     185

                     College     Salary
Name
Avery Bradley          Texas  7730337.0
R.J. Hunter    Georgia State  1148640.0

In [6]:
data

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0,PG,25,2-Jun,180,Texas,7730337.0
Jae Crowder,Boston Celtics,99,SF,25,6-Jun,235,Marquette,6796117.0
John Holland,Boston Celtics,30,SG,27,5-Jun,205,Boston University,NaN
R.J. Hunter,Boston Celtics,28,SG,22,5-Jun,185,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8,PF,29,10-Jun,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...
Trey Lyles,Utah Jazz,41,PF,20,10-Jun,234,Kentucky,2239800.0
Shelvin Mack,Utah Jazz,8,PG,26,3-Jun,203,Butler,2433333.0
Raul Neto,Utah Jazz,25,PG,24,1-Jun,179,NaN,900000.0
Tibor Pleiss,Utah Jazz,21,C,26,3-Jul,256,NaN,2900000.0
Jeff Withey,Utah Jazz,24,C,26,Jul-00,231,Kansas,947276.0

In [7]:
# retrive the data from the perticular row and perticular column only:
perticular = data.loc[["Avery Bradley", "R.J. Hunter"], 
                     ["Team", "Number", "Position"]] # here we retrive the data from the two rows nad three columns
print(perticular)

                         Team  Number Position
Name
Avery Bradley  Boston Celtics       0       PG
R.J. Hunter    Boston Celtics      28       SG

In [8]:
# all the rows and specific column:
all_rows_specific_column = data.loc[:, ["Position"]] # all the rows and specific column
print(all_rows_specific_column)

              Position
Name
Avery Bradley       PG
Jae Crowder         SF
John Holland        SG
R.J. Hunter         SG
Jonas Jerebko       PF
...                ...
Trey Lyles          PF
Shelvin Mack        PG
Raul Neto           PG
Tibor Pleiss         C
Jeff Withey          C

[457 rows x 1 columns]

# data manupulation using iloc:

In [9]:
df = pd.read_csv("nba.csv")

In [10]:
# retriving the row by iloc method:
rows2 = data.iloc[3] # giving the data of the 4th row of the csv file
print(rows2)

Team        Boston Celtics
Number                  28
Position                SG
Age                     22
Height               5-Jun
Weight                 185
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

In [12]:
# retriving the multiple rows by iloc method:
rows3 = data.iloc[[3,5,7]] # giving the data of the 4, 6, 8 rows of the csv file
print(rows3)

                        Team  Number Position  Age  Height  Weight  \
Name
R.J. Hunter   Boston Celtics      28       SG   22   5-Jun     185
Amir Johnson  Boston Celtics      90       PF   29   9-Jun     240
Kelly Olynyk  Boston Celtics      41        C   25  Jul-00     238

                    College      Salary
Name
R.J. Hunter   Georgia State   1148640.0
Amir Johnson            NaN  12000000.0
Kelly Olynyk        Gonzaga   2165160.0

In [13]:
# retriving the rows by iloc method:
rows4 = data.iloc[[3,5],[1,2]] # giving the data of the 3rd and 4th row and 1st and 2nd column
print(rows4)

              Number Position
Name
R.J. Hunter       28       SG
Amir Johnson      90       PF