In [1]:
import pandas as pd
import numpy as np

In [2]:
car_data = {"Modle Name":['Valiant', 'Duster 360', 'Merc 240D', 'Merc 320', 'Mer 280', 
                          'Merc 280C', 'Merc 450SE', 'Merc 450SL', 'Merc 450SLC', 'Cadillac Fleetwood', 'Lincoln Continental',
                         'Crysler Imperial', 'Fiat 128', 'Honda Civik', 'Toyota Corolla'], 
            "Gear":[3,3,4,4,5,4,3,3,3,3,3,3,4,4,4], 
           "Cylinder": [6,8,4,4,6,6,8,8,8,8,8,8,4,4,4]}

# creating the daraframe for the data usign pandas dataframe function
car_df = pd.DataFrame(car_data)
car_df

             Modle Name  Gear  Cylinder
0               Valiant     3         6
1            Duster 360     3         8
2             Merc 240D     4         4
3              Merc 320     4         4
4               Mer 280     5         6
5             Merc 280C     4         6
6            Merc 450SE     3         8
7            Merc 450SL     3         8
8           Merc 450SLC     3         8
9    Cadillac Fleetwood     3         8
10  Lincoln Continental     3         8
11     Crysler Imperial     3         8
12             Fiat 128     4         4
13          Honda Civik     4         4
14       Toyota Corolla     4         4

In [3]:
car_data2 = {"Modle Name":['Valiant', 'Duster 360', 'Merc 240D', 'Merc 320', 'Mer 280', 
                           'Merc 280C', 'Merc 450SE', 'Merc 450SL', 'Merc 450SLC', 
                           'Cadillac Fleetwood', 'Lincoln Continental',
                           'Crysler Imperial', 'Fiat 128', 'Honda Civik', 'Toyota Corolla'], 
             "Gear":[3,3,4,4,5,4,3,3,3,3,3,3,4,4,4], 
             "Cylinder": [6,8,4,4,6,6,8,8,8,8,8,8,4,4,4]}

# creating the daraframe for the data usign pandas dataframe function
car_df2 = pd.DataFrame(car_data2)

# printing the unique valures present in the gear column
# finding the unique values present 
# in the fear column using unique() function
print(f"Print the unique values present in the Gear column are: {car_df2['Gear'].unique()}")

# printing the unique values present 
# in the cylinder column
# finding the unique values present in the 
# Cylinder column using unique() function
print(f"Unique values present in the Culinder column are : {car_df2['Cylinder'].unique()}")

Print the unique values present in the Gear column are: [3 4 5]
Unique values present in the Culinder column are : [6 8 4]

In [13]:
car_data3 = {"Name":['Valiant', 'Duster 360', 'Merc 240D', 'Merc 320', 'Mer 280', 
                           'Merc 280C', 'Merc 450SE', 'Merc 450SL', 'Merc 450SLC', 
                           'Cadillac Fleetwood', 'Lincoln Continental',
                           'Crysler Imperial', 'Fiat 128', 'Honda Civik', 'Toyota Corolla'], 
             "Gear":[3,3,4,4,5,4,3,3,3,3,3,3,4,4,4], 
             "Cylinder": [6,8,4,4,6,6,8,8,8,8,8,8,4,4,4]}

# creating the daraframe for the data usign pandas dataframe function
car_df3 = pd.DataFrame(car_data3)

unique_Gear = pd.unique(car_df3.Gear)
unique_Cylinder = pd.unique(car_df3.Cylinder)

# printing the unique valures present in the gear column
print(f"Print the unique values present in the Gear column are: {unique_Gear}")

# printing the unique values present 
print(f"Unique values present in the Culinder column are : {unique_Cylinder}")

print("\n----------------------------------------------------------------------")
# now we count the values from the gear feature and and cylinder featur:

count_gear = car_df3["Gear"].value_counts()
count_cylinder = car_df3["Cylinder"].value_counts()
count_Name = car_df3["Name"].value_counts()
print(f"The counts of the gear:   \n{count_gear}")
print("\n")
print(f"The counts of the Cylinders:   \n{count_cylinder}")
print("\n")
print(f"The counts of the Car names:   \n{count_Name}")
print("\n\n------------------------------------------------------------------------")

print("Other method to count the values from the arributes:\n")
g_c = pd.value_counts(car_df3.Gear)
c_c = pd.value_counts(car_df3.Cylinder)
n_c = pd.value_counts(car_df3.Name)

print(f"The counts of the gear:   \n{g_c}")
print("\n")
print(f"The counts of the Cylinders:   \n{c_c}")
print("\n")
print(f"The counts of the car names:   \n{n_c}")

Print the unique values present in the Gear column are: [3 4 5]
Unique values present in the Culinder column are : [6 8 4]

----------------------------------------------------------------------
The counts of the gear:
3    8
4    6
5    1
Name: Gear, dtype: int64


The counts of the Cylinders:
8    7
4    5
6    3
Name: Cylinder, dtype: int64


The counts of the Car names:
Valiant                1
Duster 360             1
Merc 240D              1
Merc 320               1
Mer 280                1
Merc 280C              1
Merc 450SE             1
Merc 450SL             1
Merc 450SLC            1
Cadillac Fleetwood     1
Lincoln Continental    1
Crysler Imperial       1
Fiat 128               1
Honda Civik            1
Toyota Corolla         1
Name: Name, dtype: int64


------------------------------------------------------------------------
Other method to count the values from the arributes:

The counts of the gear:
3    8
4    6
5    1
Name: Gear, dtype: int64


The counts of the Cylinders:
8    7
4    5
6    3
Name: Cylinder, dtype: int64


The counts of the car names:
Valiant                1
Duster 360             1
Merc 240D              1
Merc 320               1
Mer 280                1
Merc 280C              1
Merc 450SE             1
Merc 450SL             1
Merc 450SLC            1
Cadillac Fleetwood     1
Lincoln Continental    1
Crysler Imperial       1
Fiat 128               1
Honda Civik            1
Toyota Corolla         1
Name: Name, dtype: int64

In [15]:
# initializing the variables 0 for counting
name_unique = 0
gear_unique = 0
cylinder_unique = 0

# writing the seperate loo[ for each group

for i in n_c:
    name_unique+=1
for i in g_c:
    gear_unique+=1
for i in c_c:
    cylinder_unique+=1
print(f"The unique names: {name_unique}")
print(f"The unique gear: {gear_unique}")
print(f"The unique cylinder: {cylinder_unique}")

The unique names: 15
The unique gear: 3
The unique cylinder: 3